@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --bg-body: #131416;
    --color-font: #ffff;
    --color-button: #0772EB;
    --color-card: #1E212C;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: var(--bg-body);
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo a h2 {
    font-size: 2.4rem;
    color: var(--color-font);
}

.logo img {
    width: 45px;
    height: 45px;
    margin-right: 0.7rem;
}

/*Main Content*/
main {
    max-width: 830px;
    margin: auto;
}

.ebook-content {
    display: flex;
    gap: 5rem;
    margin-top: 15rem;
}

.ebook img {
    width: 100%;
    height: auto;
}

.text-and-btn h2 {
    color: var(--color-font);
    font-size: 4rem;
    line-height: 5rem;
}

.text-and-btn button {
    margin-top: 3.5rem;
    background-color: var(--color-button);
    border: none;
    padding: 15px 70px;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-font);
    text-transform: uppercase;
    cursor: pointer;
} 

.levels {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    margin-bottom: 5rem;
}

.levels h2 {
    color: var(--color-font);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-card);
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card p {
    color: var(--color-font);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card img {
    max-width: 8rem;
    height: auto;
}

.statics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 10rem;
}

.statics span {
    background-color: var(--color-card);
    font-size: 1.4rem;
    color: var(--color-font);
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.statics h2 {
    color: var(--color-button);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.8rem;
    line-height: 4rem;
}

.statics p {
    color: var(--color-font);
    font-size: 1.2rem;
}

footer {
    width: 100vw;
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer button {
    padding: 1.8rem 7rem;
    background-color: var(--color-button);
    border-radius: 5rem;
    border: none;
    color: var(--color-font);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: -3rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

footer p {
    color: var(--color-font);
    font-size: 1.2rem;
    padding: 2rem;
}

@media (max-width: 865px) {
    .ebook-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ebook img {
        width: 100%;
        max-width: 300px;
    }
    .text-and-btn h2 {
        text-align: center;
        max-width: 600px;
    }
    .text-and-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-and-btn button {
        padding: 3.5rem 15rem;
        margin-top: 5rem;
    }
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 630px) {
    .text-and-btn button {
        padding: 2rem 10rem;
    }
    .text-and-btn h2 {
        padding: 1.2rem;
    }
}

@media (max-width: 480px) {
    .text-and-btn h2 {
        font-size: 3rem;
        padding: 1.2rem;
    }
}

@media (max-width: 420px) {
    .text-and-btn h2 {
        font-size: 2.8rem;
        padding: 1.2rem;
    }
    .text-and-btn button {
        padding: 2rem 5rem;
    }
    .levels h2 {
        font-size: 2.4rem;
    }
}